# Resend API Key for sending emails (Get one at https://resend.com)
RESEND_API_KEY="re_123456789"

# The email address where you want to receive the contact form submissions
CONTACT_EMAIL_TO="priyanshu@example.com"

NEXT_PUBLIC_PROFILE_PIC_URL=""
NEXT_PUBLIC_RESUME_URL=""

# Neon Database URL
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
